*{
    margin: 0px;

    .header {
        a:hover {
            color: red;
        }
        position: sticky;
        size: 30px;
        top: 0;
        padding: 20px 16px;
        background: white;
        opacity: 50%;
        color: #353131;
        font-family: 'Courier New', Courier, monospace;
      }

    footer{
        font-family: 'Courier New', Courier, monospace;
        color: red;
        text-align: center;
    }
}

.HOMEPAGE{
    background-image: url("https://i.imgur.com/GtFcRoz.png");
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
    display: cover;
}

.HOMEPAGE1 {
    padding: 40px 0px 5px 0px;
    display: block;
    .ID1 {
        margin: auto;
        width: 500px
        padding: 1em;
        text-align: center;
        width: 500px;
        font-family: avenir;
        font-size: 20px;
        color: white;
    }
    
    .ID2 {
        margin: auto;
        width: 500px;
        padding: 0px 0px 5px 0px;
        text-align: center;
        width: 500px;
        font-family: courier;
        font-size: 20px;
        color: white;
    }
}

.Menu {
    margin: auto;
    width: 500px;
    padding: 10px;
    align-items: center;
    display: grid;
    justify-content: center;
}

.IndexHouse {
    margin: auto;
    width: 150px;
    padding: 10px;
    align: center;
    display: grid;
    justify-content: center;

}
}

/* MEDIA QUERY */
@media screen and (max-width: 375px) {
    body {

    .VISUALDEVELOPMENT {
        margin: auto;
        width: 500px
        padding: 2em;
        text-align: center;
        width: 500px;
        font-size: 50px;
        align-items: center;
    }

    
    .ILLUSTRATION {
        font-size: 50px;
        text-wrap: wrap;
    }

    .icontainer {
    }

    .COMICS {
        font-size: 40px;
    }

    .ABOUT {
        text-wrap: center;
        margin-left: 100px;
        font-size: 40px;
    }

    .Bio1,.Bio2,.Bio3 {
        font-size: 15px;
        align-items: center;
    }

    .h1,h1 span {
        margin-right: 250px;
        font-size: 50px;
        text-wrap: wrap;
    }

    .ID {
        margin-right: 300px;
        font-size: 20px;
        text-wrap: wrap;
    }

    .Menu {
        font-size: 20px;
        text-wrap: wrap;
    }
    }

    footer {
        margin-top: 50px 0px 0px 0px;
    }
}

/* MEDIA QUERY */
@media screen and (min-width: 700px max-width: 1024px) {
    body {

    .VISUALDEVELOPMENT {
        font-size: 90px;
        text-wrap: wrap;
        align-items: center;
    }
    
    .ILLUSTRATION {
        font-size: 90px;
        text-wrap: wrap;
    }

    .icontainer {
    }

    .COMICS {
        font-size: 40px;
    }

    .About {
        margin-left: 40px;
        font-size: 90px;
        align-items: center;
    }

    .Bio1,.Bio2,.Bio3 {
        font-size: 30px;
        align-items: center;
    }

    .h1,h1 span {
        margin-right: 250px;
        font-size: 8px;
        text-wrap: wrap;
    }

    .ID {
        margin-right: 300px;
        font-size: 20px;
        text-wrap: wrap;
    }

    .Menu {
        font-size: 20px;
        text-wrap: wrap;
    }
    }
    footer {
        margin-top: 50px 0px 0px 0px;
    }
}
}

/* MEDIA QUERY */
@media screen and (max-width: 1024px) {
    body {

    .VISUALDEVELOPMENT {
        font-size: 90px;
        text-wrap: wrap;
        align-items: center;
    }
    
    .ILLUSTRATION {
        font-size: 90px;
        text-wrap: wrap;
    }

    .icontainer {
    }

    .COMICS {
        font-size: 40px;
    }

    .About {
        margin-left: 40px;
        font-size: 90px;
        align-items: center;
    }

    .Bio1,.Bio2,.Bio3 {
        font-size: 30px;
        align-items: center;
    }

    .h1,h1 span {
        margin-right: 250px;
        font-size: 8px;
        text-wrap: wrap;
    }

    .ID {
        margin-right: 300px;
        font-size: 20px;
        text-wrap: wrap;
    }

    .Menu {
        font-size: 20px;
        text-wrap: wrap;
    }
    }
}

  /* MEDIA QUERY */
@media screen and (min-width: 1025px) {
    body {

    .About {
        margin-top: auto;
        margin-right,bottom,left: 15px;
        font-size: 100px;
        text-wrap: wrap;
    }

    .Bio1,.Bio2,.Bio3 {
        font-size: 18px;
        text-wrap: wrap;
    }
    }
  }

.visdevbody {
        margin: auto;
        width: 500px;
        padding: 10px;
        align-items: center;
        display: grid;
        justify-content: center;
        
    .VISUALDEVELOPMENT {
        padding: 50px 80px 0px 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: black;
        font-size: 100px
    }

    .vdp {
        display: flex;
        p {
            padding: 10px 80px 30px 30px;
            width: 700px;
            font-family: 'Courier New', Courier, monospace;
            color: red;
            font-size: 20px;
        }
    }
    
    .vdcontainer {
        padding: auto;
        flex: 50%;
    }

    .vdvideo {
        padding: 10px 80px 30px 30px;
        width: 700px;
    }
}

.ILLUSTRATION {
    padding: 50px 80px 0px 20px;
    width: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 100px
}

.icontainer {
        padding: 20px 20px 0px 20px;
        display: flex,grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        grid-template-rows: masonry;
}

.comicsbody {
    margin: auto;
    width: 500px;
    padding: 10px;
    align-items: center;
    display: grid;
    justify-content: center;

    .COMICS {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 100px;
    }
    .comicssign {
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
    }
    .comicscontainer {
        padding: 50px 0px 0px 0px;
        flex: 50%;
    }
    .Firstscap{
        padding: 20px 0px 20px 0px;
        font-family: 'Courier New', Courier, monospace;
    }
}

.About {
    padding: 250px 0px 0px 0px;
    letter-spacing: 2;
    margin: auto;
    width: 500px;
    color: red;
    font-size: 50px
}

.Bio1 {
    margin: auto;
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 15px;
}

.Bio2 {
    margin: auto;
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 15px;
}

.Bio3 {
    margin: auto;
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 15px;
}

.Instagram {
    a:hover {
        color: red;
    }
    margin: auto;
    padding: 20px 0px 0px 0px;
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 15px;
}

.Email {
    a:hover {
        color: red;
    }
    margin: auto;
    padding: 20px 0px 50px 0px;
    width: 400px;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    font-size: 15px;
}


